<h3><%=first_n%> please enter your lastname</h3>
<form method="post" action="l_name">
	<input type="text" name="l_name">
	<input type="submit" value="enter">
	<input type="hidden" name="f_name"
	value= "<%=first_n%>">
</form>
